<div class="feed">
  <% @posts.each do |post| %>
    <%= link_to post do %>
    <div class="post">
      <strong><%= post.title %></strong>
      <p><%= post.body %></p>
      <small>Author: <%= post.user.name %></small>
    </div>
    <%end%>
  <% end %>
</div>




<!--

<div>User Panel</div>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <% if user_signed_in? %>
          <td>Author: <%= post.user.name %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
-->
